In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import math

In [150]:
#load datasets
am_df = pd.read_csv("data/american_stock.csv")
eu_df = pd.read_csv("data/european_index.csv")
rf_df = pd.read_csv("data/FEDFUNDS.csv")
european_index_df = pd.read_csv("data/ndx_historical.csv")

In [151]:
rf_df["DATE"] = pd.to_datetime(rf_df["DATE"], format="%Y-%m-%d")
rf_df.head()

        DATE  FEDFUNDS
0 2013-02-01      0.15
1 2013-03-01      0.14
2 2013-04-01      0.15
3 2013-05-01      0.11
4 2013-06-01      0.09

In [158]:
# How many intervals to look back for when calculating volatility
volatility_intervals = 100

european_index_df["Date"] = pd.to_datetime(european_index_df["Date"])
european_index_df["volatility"] = european_index_df["Close/Last"].rolling(volatility_intervals).std() / european_index_df["Close/Last"]
european_index_df = european_index_df.dropna()
european_index_df.head()

          Date  Close/Last Volume      Open      High       Low  volatility
198 2022-06-09    12269.78     --  12543.37  12666.41  12265.86    0.062004
199 2022-06-08    12615.13     --  12682.81  12776.65  12578.55    0.060282
200 2022-06-07    12711.68     --  12456.49  12737.30  12413.56    0.059930
201 2022-06-06    12599.63     --  12745.89  12804.46  12534.58    0.060227
202 2022-06-03    12548.03     --  12650.38  12724.81  12505.76    0.060365

In [159]:
am_df = am_df[["date", "symbol", "exdate", "cp_flag", "strike_price", "best_bid", "best_offer", "exercise_style"]]
am_df["date"] = pd.to_datetime(am_df["date"], format="%Y%m%d")
am_df["exdate"] = pd.to_datetime(am_df["exdate"], format="%Y%m%d")
am_df["tte"] = am_df["exdate"] - am_df["date"]
am_df["rf_join_date"] = pd.to_datetime(am_df["date"].apply(lambda x: datetime.date(x.year, x.month, 1)))
am_df = pd.merge(am_df, rf_df, left_on="rf_join_date", right_on="DATE")
am_df = pd.merge(am_df, european_index_df, left_on="date", right_on="Date")
am_df = am_df[["date", "symbol", "exdate", "cp_flag", "strike_price", "best_bid", "best_offer", "exercise_style", "tte", "Close/Last", "FEDFUNDS", "volatility"]]
am_df.head()

<ipython-input-159-050378b1a40a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["date"] = pd.to_datetime(am_df["date"], format="%Y%m%d")
<ipython-input-159-050378b1a40a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["exdate"] = pd.to_datetime(am_df["exdate"], format="%Y%m%d")
<ipython-input-159-050378b1a40a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["tte"] = am_df["exdate"] - am_df["date"]
<ipython-input-159-050378b1a40a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["rf_join_date"] = pd.to_datetime(am_df["date"].apply(lambda x: datetime.date(x.year, x.month, 1)))

,date,symbol,exdate,cp_flag,strike_price,best_bid,best_offer,exercise_style,tte,Close/Last,FEDFUNDS,volatility
0,2015-01-02,AAPL 150102C100000,2015-01-02,C,100000,9.20,9.35,A,0 days,4230.24,0.11,0.027469
1,2015-01-02,AAPL 150102C101000,2015-01-02,C,101000,8.20,8.40,A,0 days,4230.24,0.11,0.027469
2,2015-01-02,AAPL 150102C102000,2015-01-02,C,102000,7.25,7.35,A,0 days,4230.24,0.11,0.027469
3,2015-01-02,AAPL 150102C103000,2015-01-02,C,103000,6.20,6.40,A,0 days,4230.24,0.11,0.027469
4,2015-01-02,AAPL 150102C104000,2015-01-02,C,104000,5.25,5.35,A,0 days,4230.24,0.11,0.027469

In [161]:
eu_df = eu_df[["date", "symbol", "exdate", "cp_flag", "strike_price", "best_bid", "best_offer", "exercise_style"]]
eu_df["date"] = pd.to_datetime(eu_df["date"], format="%Y%m%d")
eu_df["exdate"] = pd.to_datetime(eu_df["exdate"], format="%Y%m%d")
eu_df["tte"] = eu_df["exdate"] - eu_df["date"]
eu_df["rf_join_date"] = pd.to_datetime(eu_df["date"].apply(lambda x: datetime.date(x.year, x.month, 1)))
eu_df = pd.merge(eu_df, rf_df, left_on="rf_join_date", right_on="DATE")
eu_df = pd.merge(eu_df, european_index_df, left_on="date", right_on="Date")
eu_df = eu_df[["date", "symbol", "exdate", "cp_flag", "strike_price", "best_bid", "best_offer", "exercise_style", "tte", "Close/Last", "FEDFUNDS", "volatility"]]
eu_df.head()

<ipython-input-161-8460e96a1ef5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eu_df["date"] = pd.to_datetime(eu_df["date"], format="%Y%m%d")
<ipython-input-161-8460e96a1ef5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eu_df["exdate"] = pd.to_datetime(eu_df["exdate"], format="%Y%m%d")
<ipython-input-161-8460e96a1ef5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eu_df["tte"] = eu_df["exdate"] - eu_df["date"]
<ipython-input-161-8460e96a1ef5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eu_df["rf_join_date"] = pd.to_datetime(eu_df["date"].apply(lambda x: datetime.date(x.year, x.month, 1)))

,date,symbol,exdate,cp_flag,strike_price,best_bid,best_offer,exercise_style,tte,Close/Last,FEDFUNDS,volatility
0,2015-01-02,NDX 150109C3100000,2015-01-09,C,3100000,1124.9,1134.0,E,7 days,4230.24,0.11,0.027469
1,2015-01-02,NDX 150109C3125000,2015-01-09,C,3125000,1099.9,1109.0,E,7 days,4230.24,0.11,0.027469
2,2015-01-02,NDX 150109C3150000,2015-01-09,C,3150000,1074.9,1084.0,E,7 days,4230.24,0.11,0.027469
3,2015-01-02,NDX 150109C3175000,2015-01-09,C,3175000,1049.9,1059.0,E,7 days,4230.24,0.11,0.027469
4,2015-01-02,NDX 150109C3200000,2015-01-09,C,3200000,1024.9,1034.0,E,7 days,4230.24,0.11,0.027469

In [144]:
#Current assumptions: risk-neutral, a set volatility and that FED rate is essentially the risk-free rate

def simple_european_binomial_model(n_steps, vol, underlying_price, strike, tte, int_rate, call=True):
    """
    Returns the modeled price of a European options contract. 
    n_steps: number of steps
    vol: volatility (in float)
    underlying_price: initial stock price
    strike: strike price of option
    tte: time to expiration of contract (in days)
    int_rate: risk-free interest rate
    call: boolean True if call, False otherwise
    """
    dt = (tte/365)/n_steps
    u = 1 + vol
    d = 1 - vol
    p = (math.exp(int_rate*dt)-d)/(u-d)
    
    stock_prices = [] #possible stock prices at the latest time
    options_prices = [] #options values at the respective times
    for i in range(0,n_steps+1):
        stock_prices.append(underlying_price*(u**(n_steps-i))*(d**i))
        if call:
            options_prices.append(max(0,stock_prices[i]-strike))
        else:
            options_prices.append(max(0,strike-stock_prices[i]))
    #combine options data backwards in pairs
    counter = n_steps-1
    while counter > -1:
        for i in range(counter+1):
            price = math.exp(-int_rate*dt)*(p*options_prices[i] + (1-p)*options_prices[i+1])
            options_prices[i] = price
        counter-=1
    return options_prices[0]

In [145]:
# testing that implementation is correct using example values from the book
# one step inputs for a call
simple_european_binomial_model(1,0.1,20,21,91,0.12,True)
# two step inputs for a call
simple_european_binomial_model(2,0.1,20,21,182,0.12,True)
# two step inputs for a put 
simple_european_binomial_model(2,0.2,50,52,730,0.05,False)

4.1926542806038585

In [173]:
#testing European model with live market data
#Hull recommends 30 time steps but we plan to test that number

In [165]:
#Current assumptions: #Current assumptions: risk-neutral, a set volatility and that FED rate is essentially the risk-free rate
def simple_american_binomial_model(n_steps, vol, underlying_price, strike, tte, int_rate, call=True):
    """
    Returns the modeled price of an American options contract. 
    n_steps: number of steps
    vol: volatility (in float)
    underlying_price: initial stock price
    strike: strike price of option
    tte: time to expiration of contract (in days)
    int_rate: risk-free interest rate
    call: boolean True if call, False otherwise
    """
    dt = (tte/365)/n_steps
    u = 1 + vol
    d = 1 - vol
    p = (math.exp(int_rate*dt)-d)/(u-d)
    
    #initialize arrays to hold stock/options_payoff values 
    stock_prices = [0]*(n_steps+1)
    for i in range(1,n_steps+1):
        stock_prices[i]= [0]*(i+1)
    options_payoff = stock_prices.copy()
    stock_prices[0] = underlying_price
    #calculate possible stock prices 
    for i in range(1,n_steps+1):
        for j in range(i+1):
            stock_prices[i][j] = underlying_price*(u**(i-j))*(d**j)
            
    #calculate options payoffs at the respective times depending on stock prices
    for i in range(1,n_steps+1):
        for j in range(i+1):
            if call:
                options_payoff[i][j] = max(0,stock_prices[i][j]-strike)
            else:
                options_payoff[i][j] = max(0,strike-stock_prices[i][j])
    
    #calculate max(options payoff if exercised early, option value)
    option_value = options_payoff[:]
    for i in range(n_steps-1,0,-1):
        for j in range(i+1):
            value = math.exp(-int_rate*dt)*(p*option_value[i+1][j] + (1-p)*option_value[i+1][j+1])
            option_value[i][j] = max(value,options_payoff[i][j])
    
    return math.exp(-int_rate*dt)*(p*option_value[1][0]+ (1-p)*option_value[1][1])

In [168]:
#Testing that our algorithm works correctly based on an example from the book
simple_american_binomial_model(2,0.2,50,52,730,0.05,False)

5.089632474198373

In [170]:
simple_american_binomial_model(10,0.2297,158.65,160,7,0.0483)

46.008028882465254