In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import math

In [2]:
#load datasets
am_df = pd.read_csv("data/american_stock.csv")
eu_df = pd.read_csv("data/european_index.csv")
rf_df = pd.read_csv("data/FEDFUNDS.csv")
stock_price_df = pd.read_csv("data/stock_prices.csv")

In [4]:
rf_df["DATE"] = pd.to_datetime(rf_df["DATE"], format="%Y-%m-%d")
rf_df.head()

        DATE  FEDFUNDS
0 2013-02-01      0.15
1 2013-03-01      0.14
2 2013-04-01      0.15
3 2013-05-01      0.11
4 2013-06-01      0.09

In [5]:
am_df = am_df[["date", "symbol", "exdate", "cp_flag", "strike_price", "best_bid", "best_offer", "exercise_style"]]
am_df["date"] = pd.to_datetime(am_df["date"], format="%Y%m%d")
am_df["exdate"] = pd.to_datetime(am_df["exdate"], format="%Y%m%d")
am_df["tte"] = am_df["exdate"] - am_df["date"]
am_df["rf_join_date"] = pd.to_datetime(am_df["date"].apply(lambda x: datetime.date(x.year, x.month, 1)))
am_df = pd.merge(am_df, rf_df, left_on="rf_join_date", right_on="DATE")
am_df.head()

/var/folders/77/q3gt76rs7s9dtwfn9frfxdfm0000gn/T/ipykernel_69197/1634286520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["date"] = pd.to_datetime(am_df["date"], format="%Y%m%d")
/var/folders/77/q3gt76rs7s9dtwfn9frfxdfm0000gn/T/ipykernel_69197/1634286520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["exdate"] = pd.to_datetime(am_df["exdate"], format="%Y%m%d")
/var/folders/77/q3gt76rs7s9dtwfn9frfxdfm0000gn/T/ipykernel_69197/1634286520.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_df["tte"] = am_df["exdate"] - am_df["date"]

,date,symbol,exdate,cp_flag,strike_price,best_bid,best_offer,exercise_style,tte,rf_join_date,DATE,FEDFUNDS
0,2015-01-02,AAPL 150102C100000,2015-01-02,C,100000,9.20,9.35,A,0 days,2015-01-01,2015-01-01,0.11
1,2015-01-02,AAPL 150102C101000,2015-01-02,C,101000,8.20,8.40,A,0 days,2015-01-01,2015-01-01,0.11
2,2015-01-02,AAPL 150102C102000,2015-01-02,C,102000,7.25,7.35,A,0 days,2015-01-01,2015-01-01,0.11
3,2015-01-02,AAPL 150102C103000,2015-01-02,C,103000,6.20,6.40,A,0 days,2015-01-01,2015-01-01,0.11
4,2015-01-02,AAPL 150102C104000,2015-01-02,C,104000,5.25,5.35,A,0 days,2015-01-01,2015-01-01,0.11

In [6]:
eu_df = eu_df[["date", "symbol", "exdate", "cp_flag", "strike_price", "best_bid", "best_offer", "exercise_style"]]
eu_df["date"] = pd.to_datetime(eu_df["date"], format="%Y%m%d")
eu_df["exdate"] = pd.to_datetime(eu_df["exdate"], format="%Y%m%d")
eu_df["tte"] = eu_df["exdate"] - eu_df["date"]
eu_df["rf_join_date"] = pd.to_datetime(eu_df["date"].apply(lambda x: datetime.date(x.year, x.month, 1)))
eu_df = pd.merge(eu_df, rf_df, left_on="rf_join_date", right_on="DATE")
eu_df.head()

,date,symbol,exdate,cp_flag,strike_price,best_bid,best_offer,exercise_style,tte,rf_join_date,DATE,FEDFUNDS
0,2015-01-02,NDX 150109C3100000,2015-01-09,C,3100000,1124.9,1134.0,E,7 days,2015-01-01,2015-01-01,0.11
1,2015-01-02,NDX 150109C3125000,2015-01-09,C,3125000,1099.9,1109.0,E,7 days,2015-01-01,2015-01-01,0.11
2,2015-01-02,NDX 150109C3150000,2015-01-09,C,3150000,1074.9,1084.0,E,7 days,2015-01-01,2015-01-01,0.11
3,2015-01-02,NDX 150109C3175000,2015-01-09,C,3175000,1049.9,1059.0,E,7 days,2015-01-01,2015-01-01,0.11
4,2015-01-02,NDX 150109C3200000,2015-01-09,C,3200000,1024.9,1034.0,E,7 days,2015-01-01,2015-01-01,0.11

In [11]:
stock_price_df[stock_price_df["tic"] == "AAPL"]

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,iid,datadate,...,dvi,eps,epsmo,prccd,prchd,prcld,prcod,prcstd,trfd,ccmbegdt
0,1690,P,1,LU,14593,7,19801212,E,1,20100104,...,0.00,6.39,9,214.01,214.5000,212.3800,213.430,3,1.095663,20090201
1,1690,P,1,LU,14593,7,19801212,E,1,20100105,...,0.00,6.39,9,214.38,215.5900,213.2500,214.600,3,1.095663,20090201
2,1690,P,1,LU,14593,7,19801212,E,1,20100106,...,0.00,6.39,9,210.97,215.2300,210.7500,214.380,3,1.095663,20090201
3,1690,P,1,LU,14593,7,19801212,E,1,20100107,...,0.00,6.39,9,210.58,212.0000,209.0500,211.750,3,1.095663,20090201
4,1690,P,1,LU,14593,7,19801212,E,1,20100108,...,0.00,6.39,9,211.98,212.0000,209.0600,210.300,3,1.095663,20090201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3314,1690,P,1,LU,14593,7,19801212,E,1,20230306,...,0.92,5.93,12,153.83,156.3000,153.4600,153.785,3,1.287473,20220401
3315,1690,P,1,LU,14593,7,19801212,E,1,20230307,...,0.92,5.93,12,151.60,154.0299,151.1300,153.700,3,1.287473,20220401
3316,1690,P,1,LU,14593,7,19801212,E,1,20230308,...,0.92,5.93,12,152.87,153.4700,151.8300,152.810,3,1.287473,20220401
3317,1690,P,1,LU,14593,7,19801212,E,1,20230309,...,0.92,5.93,12,150.59,154.5350,150.2250,153.559,3,1.287473,20220401
3318,1690,P,1,LU,14593,7,19801212,E,1,20230310,...,0.92,5.93,12,148.50,150.9400,147.6096,150.210,3,1.287473,20220401

In [ ]:
def monte_carlo(n_steps, underlying_price, strike, tte, int_rate, call=True):